{
  "common": {
    "timeoutSec": 15,
    "snapshotFolder": "./data/snapshots",
    "caseSensitive": false,
    "email": {
	    "emailEnabled" "false",
      	"smtp_server": "smtp.example.com",
      	"port": 465,
      	"use_ssl": true,
      	"sender": "sender@example.com",
      	"recipient": "recipient@example.com",
      	"subject": "Web monitor alert"
    },
    "regexesForRemoval": [
      {
        "pattern": "<script\\b[^>]*>.*?<\\/script>",
        "replacement": "",
        "multiline": true,
        "singleline": true,
        "description": "Remove all script tags and their content"
      },
      {
        "pattern": "<style\\b[^>]*>.*?<\\/style>",
        "replacement": "",
        "multiline": true,
        "singleline": true,
        "description": "Remove all style tags and their content"
      },
      {
        "pattern": "<!--.*?-->",
        "replacement": "",
        "multiline": true,
        "singleline": true,
        "description": "Remove all HTML comments"
      }
    ]
  },
  "logging": {
    "level": "DEBUG",
    "file": "./logs/webmonitor.log",
    "console": true
  },
  "pages": [
    {
      "name": "Example",
      "url": "https://example.com",
      "keywords": [
        "example",
        "domain",
        "illustrative"
      ]
    },
    {
      "name": "Sample_Page",
      "url": "https://example.org/sample",
      "keywords": [
        "keyword1",
        "keyword2",
        "keyword3"
      ]
    }
  ]
}